body {
  background-color: #5555be;
}

div#wrapper {
  width: 600px;
  margin: 10px auto;
  background-color: #fff;
}

input {
  width: 80px;
  height: 30px;
  margin-top: 10px;
}

header {
  font: bold x-large cursive
}

header a:link {
  color:#fff;
  text-decoration:none
}

header a, footer a:visited {
  color:#fff;
  text-decoration:none
}

header a:hover {
  color:#fff;
  text-decoration:none
}

header a:active {
  color:#fff;
  text-decoration:none
}

header, footer {
  color: #fff;
  text-align: center;
}

footer {
  font-size: 14px;
}

h3 {
    margin: 0;
    padding: 0;
}

div#contents {
  background-color: #fff;
  color: #000;
  margin: 15px;
  padding: 20px;
  border: solid 1px #ccc;
}
ul.navigation {
  margin: 15px auto 5px;
  list-style: none;
  padding: 0;
}

ul.navigation li {
  display: inline;
  margin-right: 1px;
  background-color: #666;
  border: solid 1px #ccc;
  padding: 5px;
}

ul.navigation li.selected{
  background-color: #000;
}

ul.navigation li a{
  color: #fff;
  text-decoration: none;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

