<% provide(:title, "About") %>
<main role="main" class="container">
<div class="p-3">
  <div class="tab-content">
    <h5>Scrapp - スクラップ とは</h5>
    <div class="description">
      <p>Webページの情報を抽出し、加工することができるWebスクレイピングという技術を利用して、
        特定のページの記事を効率よく手軽に閲覧するために作成したアプリです。
      </p>
      <h6>メリット</h6>
      <ul>
        <li>特定のページの記事を手軽に閲覧したい場合に便利です。</li>
        <li>レスポンシブに対応しているため、PC、タブレット、スマートフォンでも閲覧可能です。</li>
        <li>カスタマイズによっては様々な情報を取得し表示可能です。</li>
      </ul>
      <h6>デメリット</h6>
      <ul>
        <li>Webサイトによっては情報を抽出できない場合があります。</li>
        <li>抽出するWebサイトを登録するための登録画面はありません。</li>
        <li>Webサイトを多く登録したり、記事を多く表示させると画面描画に時間がかかります。</li>
      </ul>
      <br>
      <p>今回作成したアプリのソースコードは<a href="https://github.com/tetz-m/scraping_app", color="blue">こちら</a>で公開しています。</p>
    </div>
  </div>
</div>
</main>
