<footer>
    <strong>Scraping App</strong> - Powered by <strong>Ruby on Rails 5.1.5</strong>
    <p>&copy; Copyright 2018 <a href='https://github.com/tetz-m/scraping_app'  target='_blank'>tetz-m</a></p>
</footer>
