body {
  background-color: #5555be;
  margin: 0;
  padding: 0;
}

header {
  font: bold x-large cursive
}

header a:link {
  color:#fff;
  text-decoration:none
}

header a, footer a:visited {
  color:#fff;
  text-decoration:none
}

header a:hover {
  color:#fff;
  text-decoration:none
}

header a:active {
  color:#fff;
  text-decoration:none
}

header, footer {
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 10px;
}

div#wrapper {
  background-color: #fff;
  margin: 0 10px;
}

div#contents {
  background-color: #fff;
  color: #000;
  padding: 10px;
  border: solid 1px #ccc;
}

h3 {
    margin: 0;
    padding: 0;
}

input {
  width: 80px;
  height: 30px;
  margin-top: 10px;
}

footer {
  font-size: 14px;
}
