body {
  background-color: #5555be;
}

div#wrapper {
  margin: 10px auto;
  background-color: #fff;
}

input {
  width: 80px;
  height: 30px;
  margin-top: 10px;
}

header {
  font: bold x-large cursive
}

header a:link {
  color:#fff;
  text-decoration:none
}

header a, footer a:visited {
  color:#fff;
  text-decoration:none
}

header a:hover {
  color:#fff;
  text-decoration:none
}

header a:active {
  color:#fff;
  text-decoration:none
}

header, footer {
  color: #fff;
  text-align: center;
}

footer {
  font-size: 14px;
}

h3 {
    margin: 0;
    padding: 0;
}

div#contents {
  background-color: #fff;
  color: #000;
  margin: 15px;
  padding: 20px;
  border: solid 1px #ccc;
}
